.container {
  padding: 10px;
  grid-template-columns: 33% 33% 33%;
  display: grid;
  grid-auto-rows: minmax(auto, auto);
}
.item {
  position: relative;
  text-align: center;
}
.itemText {
  width: 0;
  overflow: hidden;
  color: white;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item:hover .itemText {
  width: auto;
}
.img {
  border-radius: 5px;
  object-fit: cover;
  display: block;
  margin: auto;
  min-height: 400px;
  min-width: 280px;
  height: 40%;
  width: 30%;
}
