.container {
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}
.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2em;
}

.search__form {
  margin-left: 2em;
  width: 30%;
}
.search__input {
  border-radius: 1em;
  height: 3em;
  width: 100%;
}
.poster {
  display: flex;
  margin-bottom: 2em;
}
.img {
  width: 60%;
  height: 100%;
  min-width: 280px;
  min-height: 404px;
  max-width: 280px;
}
.poster__info {
  width: 45em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.poster__infoText {
  color: black;
  margin-top: 0;
}
.poster__info p {
  color: black;
  font-weight: bold;
}
.poster__img {
  margin-right: 1em;
}
.genre {
  margin-top: 1em;
  margin-bottom: 0;
}
.buy__button {
  margin-bottom: 0;
  margin-left: 30px;
  border-radius: 1em;
}
.comment__button {
  padding: 1em;
  margin-bottom: 0;
  margin-left: 30px;
  border-radius: 1em;
}

@media all and (max-width: 768px) {
  .buy__button {
    margin-top: 8em;
  }
}
@media all and (max-width: 280px) {
  .poster {
    flex-direction: column;
  }
  .date {
    opacity: 0;
    height: 0;
  }
  .genre {
    opacity: 0;
    height: 0;
  }
  .poster__infoText {
    font-weight: 600;
  }
  .poster__info {
    width: 0;
  }
  .buy__button {
    margin-top: 0;
  }
  .img {
    min-width: 184px;
    min-height: 360px;
  }
}
@media all and (max-width: 540px) {
  .poster {
    flex-direction: row;
  }
  .buy__button {
    margin-top: 0;
  }
  .poster__infoText {
    font-weight: 600;
  }
}

@media all and (max-width: 666px) {
  .poster {
    flex-direction: column;
  }
  .poster__info {
    width: 0;
  }
  .buy__button {
    width: 10em;
    margin-bottom: 0;
    margin-left: 30px;
    border-radius: 1em;
  }
  .comment__button {
    width: 10em;
    margin-bottom: 0;
    margin-left: 30px;
    border-radius: 1em;
  }
  .date {
    opacity: 0;
    height: 0;
  }
  .genre {
    opacity: 0;
    height: 0;
  }
  .buy__button {
    margin-top: 0;
  }
  .p {
    opacity: 0;
    height: 0;
  }
}
@media print {
  .p {
    opacity: 1;
    width: 20em;
  }
   .buy__button {
    opacity: 0;
  }
  .comment__button {
    opacity: 0;
  }
}
