.container {
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
}
.search{
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.search__form{
  width: 30%;
}
.search__input {
  border-radius: 1em;
  height: 3em;
  width: 100%;


}
.poster {
  display: flex;
  margin-bottom: 2em;
}
.img {
  width: 60%;
  height: 100%;
  min-width: 280px;
  min-height: 404px;
  max-width: 280px;
}
.poster__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.poster__infoText {
  color: white;
  margin-top: 0;
}
.poster__info p {
  color: white;
  font-weight: bold;
}
.poster__img {
  margin-right: 1em;
}
.call__button {
  background: linear-gradient(to right, #7303c0, #ec38bc, #fdeff9);
  padding: 1em;
  margin-bottom: 0;
  margin-left: auto;
  border: 1px solid black;
  border-radius: 1em;
}
.call__button:hover {
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3);
}
.call__button:active {
  box-shadow: none;
}
@media all and (max-width: 768px) {
  .call__button {
    margin-top: 8em;
  }
}
@media all and (max-width: 280px) {
  .poster {
    flex-direction: column;
  }
  .poster__infoText {
    font-weight: 600;
  }
  .call__button {
    margin-top: 0;
  }
  .img {
    min-width: 184px;
    min-height: 360px;
  }
}
@media all and (max-width: 540px) {
  .poster {
    flex-direction: row;
  }
  .call__button {
    margin-top: 0;
  }
  .poster__infoText {
    font-weight: 600;
  }
}

@media all and (max-width: 666px) {
  .poster {
    flex-direction: column;
  }
  .call__button {
    margin-top: 0;
  }

  .p {
    opacity: 0;
    height: 0;
  }
}
