.filter__button{
    background:white;
    margin-left: 30px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
@media all and (max-width: 540px) {
    .filter__button{
        margin-right: 10px;
    }
 
}
