.menu {
background: rgb(23, 23, 23);
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
}

.banner__text {
  text-align: center;
  margin: 0;
}
.logo {
  display: flex;

}
.logo__text {
  color: white;
  display: block;
  margin: auto 0;
}
.banner {
  color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1;
  display: block;
}

.account {
  background: rgb(255, 137, 2);
  padding: 1em;
  margin: auto 0;
  border: 1px solid black;
  border-radius: 1em;
}
.account__button {
  color: black;
}
