.poster {
  position: relative;
  text-align: center;
}
.img {
  border-radius: 5px;
  position: relative;
  display: block;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 60%;
  height: 20%;
  min-width: 280px;
  min-height: 298px;
}
.img:hover {
  opacity: 0.8;
}
.poster__infoText {
  color: white;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p {
  font-weight: bold;
  color: white;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
