.poster {
  position: relative;
  text-align: center;
}
.img {
  border-radius: 5px;
  position: relative;
  display: block;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 60%;
  height: 20%;
  min-width: 280px;
  min-height: 298px;
}
.img:hover {
  opacity: 0.9;
}
.poster__infoText {
  color: white;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p {
  font-weight: bold;
  color: white;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
@media all and (max-width: 540px) {
  .poster__infoText {
    top: 5%;
  }
}

@media all and (max-width: 426px) {
  .poster__infoText {
    width: 280px;
    top: 5%;
  }
  .p {
    width: 280px;
    bottom: -8%;
  }
}
@media all and (max-width: 280px) {
  .poster__infoText {
    width: 260px;
    top: 5%;
  }
  .img {
    min-width: 260px;
    min-height: 280px;
  }
}
